.app {
  text-align: center;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  min-height: 100vh;
}

.app-header {
  margin-bottom: 2rem;;
}

.cell-container {
  display: flex;
  flex-wrap: wrap;
  height: 25rem;
  width: 25rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #fff;
}

.cell {
  height: 1.25rem;
  width: 1.25rem;
  border: 1px solid #9c9c9c;
  box-sizing: border-box;
  cursor: pointer;
}

.live {
  background-color: #000;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.btn {
  text-decoration: none;
  border: none;
  color: #fff;
  text-align: center;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
  height: 50px;
  border-radius: 3px;
  margin: 0 0.25rem 2rem 0.25rem;
  text-transform: uppercase;
  width: 50%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.btn-primary {
  background-color: #0ba294;
}

.btn-red {
  background-color: #f54d4d;
}

.btn[disabled] {
  background-color: #828282;
  cursor: default;
}

.generation {
  font-size: 1rem;
  margin-top: 1rem;
}